{% extends 'trip/_base.html' %}

{% block content %}

<h3 class="text-xl pb-4">Notes:</h3>
<div class="flex gap-2 flex-wrap">
    {% for note in object_list %}
    <a href="{% url 'note-detail' note.pk %}">
        <div class="border-2 rounded-lg pb-4 hover:shadow">
            <img class="w-48 h-32 object-cover overflow-hidden rounded-t-md" src="{{note.img.url}}" alt="{{note.name}}">
            <p class="text-center mt-3 text-lg">{{note.trip.city}}</p>
            <p class="text-center mt-1 text-lg">{{note.name}}</p>
            <p class="text-center mt-1 text-gray-600">Rating: {{note.rating}}/5</p>
        </div>
    </a>
    {% endfor %}
    <a href="{% url 'note-create' %}">
        <div class="border-2 border-dashed rounded-lg hover:shadow w-48 h-full flex justify-center items-center">
            <p class="">New Note +</p>
        </div>
    </a>
</div>

{% endblock content %}